
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.container {
    display: flex;
    justify-content: center;
    min-height: 1000px;
    width: var(--default-layout-width);
    max-width: 100%;
    // padding-right: var(--default-layout-hor-spacer);
    margin-top: 60px;
}

.content {
    flex: 1;
}