
.links-container {
    margin-bottom: 8px;
}

// Item
.footer-item {
    display: inline-block;
    color: rgba(22, 24, 35, 0.5);
    margin: 5px 6px 0px 0px;
    font-size: 1.2rem;
    font-weight: 600;

    &:hover {
        text-decoration: underline;
    }

    &.readonly {
        text-decoration: none;
        cursor: text
    }
}
