.wrapper {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid rgba(22, 24, 35, 0.2);
}

.avatar {
    .img {
        width: 56px;
        height: 56px;
        object-fit: cover;
        border-radius: 50%;
    }
}

.content {
    width: 624px;
    margin-left: 12px;
    position: relative;

    .follow-btn {
        position: absolute;
        top: 8px;
        right: 0;
        width: 88px;
        height: 28px;
        padding: 0 10px;
        border-radius: 4px;
        font-size: 1.4rem;
    }
    .infor {
        margin-right: 114px;
    }
}

.nickname {
    display: inline-block;
    margin-right: 4px;
    font-size: 1.8rem;
}

.desc {
    font-size: 1.6rem;
    line-height: 21px;
    letter-spacing: 0.03px;
    word-break: break-word;
}

.sound {
    display: flex;
    align-items: start;
    margin-top: 4px;
    margin-bottom: 12px;

    span {
        font-weight: 600;
        font-size: 1.6rem;
        letter-spacing: 0.03px;
        margin-left: 5px;
        line-height: 1;
    }
}
