
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.container {
    display: flex;
    justify-content: center;
    min-height: 1000px;
    width: var(--default-layout-width);
    padding: 0 var(--default-layout-hor-spacer);
}

.content {
    flex: 1;
}